.cart-list {
  display: grid;
  gap: 1rem;
}

.cart-item {
  padding: 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-item:hover {
  background-color: #f1f1f1;
}

.cart-item-detail {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #f1f1f1;
  border: 1px solid #dbdbdb;
}

.cart-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
